<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>Splurty was built by <a target="_blank" href="https://github.com/brantwellman">Brant Wellman</a>, a student with the <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project.</a> This is just the next step in the middle of his journey to change careers.</p>
	<p>Brant has been interested in all things tech and web related for years, but is now taking the journey of learning to create his own web applications.</p>
	<p>You can see more of what Brant has created over at his <a target="_blank" href="http://brantwellman.com">website</a>.</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'brant.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Brant Wellman</h2>
		<br />
		<p>Brant is a novice Web Developer who has a background with a wide range of professional experience. He has worked in the gaming industry in California, where he managed assets of $500K+ daily, he worked in the beer industry in Colorado where he managed a production team, and he has worked in the retail music industry while living in Washington DC.</p>
		<br />
		<p>In his free time Brant loves to explore the wild country of his home state, Colorado, whether that is on a snowboard, with a backpack and boots, or on a long road-trip with his wife. Brant's longing for exploration has pushed him to hike the John Muir Trail and get married in the Gates of the Arctic National Park in Alaska.</p>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />